* {box-sizing:border-box}
        
/* Slideshow container */

body {
    background-color: black ;
    height: 100%;
}
.slideshow-container {
    background-color: black ;
    height: 100%;
    width: 100%;
}

/*

.image {
    height: auto;
    width : 800px;
    margin: auto ;
    display:block ;
}

*/

.images {
    margin: auto ;
    display:block ;
}

/* Next & previous buttons */
.prev, .next, .edit, .people, .zoom, .save, .warning {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.edit {
    right: 0;
    top : 0 ;
    margin-top: 2px;
    border-radius: 3px 0 0 3px;
}

.people {
    right: 0;
    top : 0 ;
    margin-top: 60px;
    margin-right: 5px;
    border-radius: 3px 0 0 3px;
}

.zoom {
    right: 0;
    top : 0 ;
    margin-top: 120px;
    border-radius: 3px 0 0 3px;
}

.save {
  right: 0;
  top : 0 ;
  margin-top: 180px;
  border-radius: 3px 0 0 3px;
}

.warning {
  left: 0;
  top : 0 ;
  margin-top: 2px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover, .edit:hover , .people:hover, .zoom:hover, .save:hover{
    background-color: rgba(75, 65, 65, 0.281);
}


/* Number text (1/3 etc) */
.numbertext {
    color: #d8bc1b;
    font-size: 22px;
    padding: 8px 12px;
    position: absolute;
    width: 100%;
    text-align: center;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    color: #f1f1f1; 
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    padding: 20px;
    margin:0 ;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

  
  /* When you mouse over the container, fade in the overlay title */
  .slideshow-container:hover .overlay {
    opacity: 1;
  }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

.icone {
    width: 48px;
    height: 48px;
}

/* ===========================*/
/*  Generic check mark custom */

/* The container */
.vrCMcontainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 18px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.vrCMcontainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.vrCMcheckmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.vrCMcontainer:hover input ~ .vrCMcheckmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.vrCMcontainer input:checked ~ .vrCMcheckmark {
  background-color: #4CAF50;
}

/* Create the checkmark/indicator (hidden when not checked) */
.vrCMcheckmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.vrCMcontainer input:checked ~ .vrCMcheckmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.vrCMcontainer .vrCMcheckmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*  Generic check mark custom end */
/* ===========================*/


/* Modal Box for properties */
div#modalBox {
    display: none;
    width: 50%;
    height: auto;
    position : absolute ;
    right : 20px ;
    top : 20px ;
    background-color:white;
    border : 3px;
    border-color: blue;
    padding: 20px;
    font-size: 18px;
}

div#modalBox textarea {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
/* Style inputs with type="text", select elements and textareas */
div#modalBox input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 16px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  

  /* Style the submit button with a specific background color etc */
  input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin-top: 8px; /* Add a top margin */
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=button]:hover {
    background-color: #45a049;
  }

  /* People Box */
  div#peopleBox {
    display: none;
    width: 300px;
    height: auto;
    position : absolute ;
    right : 20px ;
    top : 20px ;
    background-color:white;
    border : 3px;
    border-color: blue;
    padding: 20px;
}

#peopleList {
    height: 140px;
    overflow: scroll;
}
  /* Remove margins and padding from the list */
  ul {
    margin: 0;
    padding: 0;
    list-style-type:none;
  }
  
  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  
  /* Darker background-color on hover */
  ul li:hover {
    background: #ddd;
  }
  
  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: #888;
    color: #fff;
  }
  
  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  
  #peopleFilter {
    background-image: url('searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
 
/****************/
/* Magnifier */
.img-magnifier-glass {
    position: absolute;
    border: 3px solid #000;
    border-radius: 50%;
    cursor: none;
    /*Set the size of the magnifier glass:*/
    width: 100px;
    height: 100px;
  }

  /****************/
/* Tooltip */
/* Tooltip container */

  
  /* Tooltip text */
  .tooltip-container .tooltip-text {
    visibility: hidden;
    width: auto;
    background-color :rgb(228, 118, 54, 50);
    color: black;
    text-align: center;
    padding: 10px ;
    border-radius: 20%;
   
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;

 
  }
  
  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip-container:hover .tooltip-text {
    visibility: visible;
  }

  .tooltip-blink {
    animation: tooltip-blinker 500ms linear infinite;
  }
  
  @keyframes tooltip-blinker {
    50% {
      opacity: 0;
    }
  }